@import "_variables";

button{
  background-image: linear-gradient(180deg, #e1a0a0, $quinary-colors);
  box-shadow: 0 10px 40px #6b3838;
  font-size: 16px;
  font-weight: bold;
  padding: 2.5px 15px 2.5px 15px;
  border-radius: 7px;
}
button:hover{
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}



@media only screen and (min-width: 768px) {
  button{
    border-radius:15px;
  }
}